p1/Practica1.dtd

<?xml version='1.0' encoding='UTF-8' ?>

<!--Generated by Turbo XML 2.3.1.100.-->

<!ELEMENT CorporateNet (Usuario | Aplicacion)*>

<!ELEMENT Usuario (Perfil? , Contacto*)>

<!ELEMENT Aplicacion (InfoEmail | InfoBusqueda)?>

<!ATTLIST Aplicacion  nombre CDATA  #REQUIRED
                        icono  CDATA  #REQUIRED >
<!ELEMENT Perfil (DatosPersonales , DatosProfesionales , Documento*)>

<!ELEMENT DatosPersonales (FechaNacimiento)>

<!ATTLIST DatosPersonales  nombre       CDATA  #REQUIRED
                             apellido     CDATA  #REQUIRED
                             ciudad       CDATA  #REQUIRED
                             codigoPostal CDATA  #REQUIRED
                             pais         CDATA  #REQUIRED
                             fotografia   CDATA  #IMPLIED >
<!ELEMENT DatosProfesionales (Interes* , RedSocial+)>

<!ATTLIST DatosProfesionales  empresa   CDATA  #REQUIRED
                                ficheroCV CDATA  #IMPLIED
                                puesto    CDATA  #REQUIRED >
<!ELEMENT Interes (#PCDATA)>

<!ATTLIST Interes  tipoInteres  (Profesional | Investigador )  #REQUIRED >
<!ELEMENT RedSocial (#PCDATA)>

<!ELEMENT FechaNacimiento EMPTY>

<!ATTLIST FechaNacimiento  mes CDATA  #REQUIRED
                             dia CDATA  #REQUIRED
                             ao  CDATA  #REQUIRED >
<!ELEMENT Documento EMPTY>

<!ATTLIST Documento  privilegio    CDATA  #REQUIRED
                       tipoDocumento  (WORD | PDF )  #REQUIRED
                       path          CDATA  #REQUIRED >
<!ELEMENT InfoEmail EMPTY>

<!ATTLIST InfoEmail  mensaje        CDATA  #REQUIRED
                       usuarioDestino CDATA  #REQUIRED >
<!ELEMENT InfoBusqueda EMPTY>

<!ATTLIST InfoBusqueda  nombreUsuario   CDATA  #REQUIRED
                          apellidoUsuario CDATA  #REQUIRED
                          red             CDATA  #IMPLIED >
<!ELEMENT Contacto EMPTY>

<!ATTLIST Contacto  nombre CDATA  #REQUIRED
                      email  CDATA  #REQUIRED
                      puesto CDATA  #REQUIRED
                      red    CDATA  #REQUIRED >
